:root {
  --blanco: #ffffff;
  --negro: #000000;
  --naranja: #ffc107;
  --azul: #0097a7;
  --gris: #757575;
  --grisClaro: #dfe9f3;
}

/* Cambios globales */

html {
  font-size: 62, 5%;
  box-sizing: border-box;
  scroll-snap-type: y mandatory;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-size: 16px;
  /* 1rem = 10px */
  font-family: "Krub", sans-serif;
  background-image: linear-gradient(
    to top,
    var(--grisClaro) 0%,
    var(--blanco) 100%
  );
}

.sombra {
  -webkit-box-shadow: 0px 0px 5px 0px rgba(46, 46, 46, 0.47);
  -moz-box-shadow: 0px 0px 5px 0px rgba(46, 46, 46, 0.47);
  box-shadow: 0px 0px 5px 0px rgba(46, 46, 46, 0.47);
  background-color: var(--blanco);
  padding: 2rem;
  border-radius: 1rem;
}

/* Tipografias */

h1 {
  font-size: 3.8rem;
}

h2 {
  font-size: 2.8rem;
}

h3 {
  font-size: 1.8rem;
}

h1,
h2,
h3 {
  text-align: center;
}

p {
  color: var(--negro);
}

/* Titulos */

.titulo{
  font-size: 2rem;
}

.titulo span {
  text-align: center;
  font-size: 1.2rem;
}

/* Navegación */

.first_navigation {
  display: flex;
  flex-direction: column;
}

.first_navigation a {
  color: var(--blanco);
  text-align: center;
  text-decoration: none;
  font-size: 2rem;
  font-weight: 700;
  padding: 1rem;
}

.first_navigation a:hover {
  background-color: var(--naranja);
  color: var(--negro);
}

.div_bg {
  background-color: var(--azul);
}

/* Botones */

.boton {
  background-color: var(--azul);
  color: var(--blanco);
  padding: 1rem 2rem;
  text-decoration: none;
  font-size: 1.8rem;
  margin-top: 1.2rem;
  text-transform: uppercase;
  font-weight: bolder;
  border-radius: 9px;
  border: none;
}

.boton:hover{
  cursor: pointer;
}

/* Utilidades */

.boton .w-100{
  width: 100%;
}

.flex{
  display: flex;
}

.alinear_derecha{ 
  justify-content: flex-start ;
}


/* MediaQueris */

@media (min-width: 768px) {
  /*MediaQuery Navegación*/
  .first_navigation {
    flex-direction: row;
    justify-content: space-between;
  }
}

@media (max-width: 768px) {
  /*MediaQuery del boton*/
  .boton {
    width: 90%;
    text-align: center;
  }
}

@media (min-width: 768px) {
  .servicios {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 768px) {
    .w-100 {
      width: 100%;
    }
}

@media (min-width: 768px) {
  .campos{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto 20rem;
    column-gap: 1rem;
   }
   
}

/* Contenedores */

.contenedor {
  max-width: 120rem;
  margin: 0 auto;
}

/* Foto Hero */

.hero {
  background-image: url(../img/hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 450px;
  position: relative;
  margin-bottom: 2rem;
}

.contenido_hero {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contenido_hero h2,
.contenido_hero p {
  color: var(--blanco);
}

/* Ubicación */

.ubicacion {
  display: flex;
  align-items: flex-end;
}

.ubicacion p {
  font-size: 1.2rem;
}

/* Servicios */

.servicios,
.first_navigation,
.formulario,
.footer {
  scroll-snap-align: center;
  scroll-snap-stop: always;
}

.servicio {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.servicio h3 {
  color: var(--azul);
  font-weight: normal;
  font-size: 2.1rem;
}

.servicio p {
  line-height: 2;
  padding: 3rem;
  font-size: 1.5rem;
  text-align: center;
}

.servicio .iconos {
  height: 15rem;
  width: 15rem;
  background-color: var(--naranja);
  border-radius: 50%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

/* Formulario */

.formulario {
  background-color: var(--gris);
  border-radius: 1rem;
  width: min(60rem, 100%);
  margin: 0 auto;
  padding: 2rem;
}

.formulario fieldset {
  border: none;
}

.formulario legend {
  text-align: center;
  font-size: 1.8rem;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 2rem;
  color: var(--naranja);
}

/* campos */

.campo textarea{
    height: 14rem;;
}

.campo{
margin-bottom: 1rem;
}

.campo label{
  color: var(--blanco);
  font-weight: bold;
  margin-bottom: .5rem;
  display: block;
}

.input-text{
  width: 100%;
  border: none;
  padding: .5rem;
  border-radius: .5rem;
}

.campo:nth-child(3){
  grid-column: 1 / 3;
}

.campo:nth-child(4){
  grid-column: 1 / 4;
}

/* Footer */

.footer{
  text-align: center;
}